@import './theme.scss';

.card-container-available {
    padding: 20px 20px 20px 16px;
    height: calc(100vh - 132px);
    overflow-y: auto;
    background: linear-gradient(#DA5663 15%, #FECEA8 );
 }
 
 .card-container-2 {
   padding: 20px 20px 20px 16px;
   height: calc(100vh - 132px);
   overflow-y: auto;
   background: linear-gradient(#FECEA8 15%, #9FB89B );
 }

 .card-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 
 .card-head {
    font-size: 22px;
    color: #2A363A;
    // color: white;
    cursor: pointer;
 }

 .fa-plus {
   font-size: 20px;
 }

 .fa-minus {
   font-size: 20px;
   color: #2A363A
 }
 
 .card-box {
    display: flex;
    flex-direction: column;
    padding: 25px;
    // background-color: $light-gray-bg;
    background-color: #2A363A;
    opacity: .9;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 150px;
    width: 455px;
    transition: height .3s ease;
    cursor: pointer;
 }
 
 .card-box:hover {
    box-shadow: 2px 2px 8px 2px rgb(58, 58, 58);
 }
 
 .card-box-active {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color:#ffffff; 
    // background-color: rgb(228, 228, 228);
    opacity: .9;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 380px;
    width: 455px;
    transition: height .3s ease;
    box-shadow: 2px 2px 8px 3px rgb(204, 204, 204);
 }

 .card-box-top-container {
   animation-name: card-fade-in;
   animation-duration: 1s;
 }

 @keyframes card-fade-in {
   from {opacity: 0;}
   to {opacity: 1}
 }
 
 .card-body {
     padding: 25px 0px
 }

 .card-body-active {
    color: #2A363A;
 }
 
 .card-head {
    color: white;
 }
 
 .card-head-active {
    color: #2A363A;
    font-size: 22px;
 }
 
 .card-address-active {
    color: #2A363A; 
 }
 
 .card-box-task-type {
    color: #2A363A; 
 }
 
 .card-address-link:hover {
    color: $figma-red;
    cursor: pointer;
    text-decoration: none;
 }
 
 .instructions-header {
    color: #2A363A;
 }
 
 .instructions-body {
    color: #2A363A;
    padding-bottom: 15px;
 }
 
 .card-box-task-type {
    display: flex;
    
 }
 
 .card-box-task-content{
    margin-left: 6px;
    padding-bottom: 10px;
 }
 
 .card-box-type-of-prop {
    color: #2A363A;
    font-weight: 700;
 }
 
 .card-box-bottom-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    animation-name: card-fade-in;
    animation-duration: 1.3s;
    
 }
 
 .card-box-top-container {
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 .card-container-demo {
    border: 1px solid black;
    height: 25%;
    border-radius: 3px;
    background-color: #2A363A;
    opacity: .9;
 }
 
 .card-demo-content {
    margin: 10px;
 }
 
 .register-or-login {
    margin: 10px;
    display: flex;
 }
 
 .middle-statement {
    padding-left: 5px;
    padding-right: 5px;
 }
 
 .fa-external-link-alt {
    color: #2A363A;;
    padding-left: 10px;
    width: 24px!important;
 } 

.accept-button {
   background-color: $figma-grapefruit;
   border: none;
   color: white;
   filter: brightness(90%);
   width: 175px;
   height: 45px;
   border-radius: 5px;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 500;
   position: absolute;
   right: 0px;
}

.accept-button:hover {
    box-shadow: 2px 2px 8px 3px rgba(197, 197, 197, 0.5);
    filter: brightness(100%);
}

.accept-button:focus {
    outline: none;
}

.complete-button {
   background-color: $figma-green;
   border: none;
   color: white;
   filter: brightness(90%);
   width: 200px;
   height: 45px;
   border-radius: 5px;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 500;
   position: absolute;
   right: 0px;
}

.complete-button:hover {
    box-shadow: 2px 2px 8px 3px rgba(197, 197, 197, 0.5);
    filter: brightness(100%);
}

.complete-button:focus {
    outline: none;
}