@import './theme.scss';

.mapContainer {
    position: absolute;
    top: 60px;
    right: 0;
    left: 500px;
    bottom: 0;
}

.marker {
    background-size: cover;
    width: 25px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
  background-image: url('../public/300figma-peach-marker.png');
}

.notActive {
  background-image: url('../public/300figma-red-marker.png');
}

.completed {
  background-image: url('../public/300figma-green-marker.png');
}

.completed, .notActive, .active {
  height: 35px;
  width:23.33px;
}
  
.popup-avail > .mapboxgl-popup-content {
    height: 90px;
    text-align: center;
    background: linear-gradient(#DA5663 15%, #FECEA8 );
    border-radius: 10px!important;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.popup-active > .mapboxgl-popup-content {
    height: 90px;
    text-align: center;
    background: linear-gradient($figma-green 15%, $figma-peach);
    border-radius: 10px!important;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.popup-done > .mapboxgl-popup-content {
    height: 90px;
    text-align: center;
    background: linear-gradient($figma-green 15%, $light-gray-bg );
    border-radius: 10px!important;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.popup-avail > .mapboxgl-popup-tip {
    border-top-color: $figma-peach!important;
}

.popup-avail > .mapboxgl-popup-tip {
    border-bottom-color: $figma-red!important;
}

.popup-active > .mapboxgl-popup-tip {
    border-top-color: $figma-peach!important;
}

.popup-active > .mapboxgl-popup-tip {
    border-bottom-color: $figma-green!important;
}

.popup-done > .mapboxgl-popup-tip {
    border-top-color: $light-gray-bg!important;
}

.popup-done > .mapboxgl-popup-tip {
    border-bottom-color: $figma-green!important;
}

.completed  .mapboxgl-popup {
    width: 150px;
}

.completed .mapboxgl-popup-content {
    background-color: $figma-green;
}

.completed .mapboxgl-popup-content > p{
    color: white;
}

.completed .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $figma-green!important
}

.card-type-img-map {
    width: 50px;
 }


// $first-gray-bg: #4c5159;
// $second-gray-bg: #C4C4C4;

// // Element colors
// // light gray should be used for pains on white bg
// $light-gray-bg: #EDEDED;

// //Text colors for non-white text
// $second-gray-txt: #aaadb3;
// $third-gray-txt: #4c5159;

// //General theme colors from figma color pallette
// $figma-green: #9FB89B;
// $figma-peach:  #F6CFAF;
// $figma-grapefruit: #E68981;
// $figma-red: #DA5663;