@import './theme.scss';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.432);
  z-index: 10;
}

.modal-child-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px; 
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  border-radius: 3px;
  padding: 20px;
}

.modal-child-taskform {
  position: absolute;
  display: flex;
  align-items: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 600px; 
  background-image: linear-gradient(to bottom left, #343A40, $figma-grapefruit );
  color: black;
  border-radius: 4px;
  padding: 30px 20px;
}