@import './theme.scss';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.432);
  z-index: 10;
}

.modal-child-welcome {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%; 
  // background-image: linear-gradient(to bottom right, $figma-red, $figma-grapefruit, $figma-peach );
  background: rgba(51,58,64,0.8);
  border-radius: 10px;
  padding: 10px 0px 0px 0px;
  overflow: hidden;
  animation: modal-height 1s;
}

.welcome-logo {
  height: 100%;
}

.modal-welcome-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-welcome-heading {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px
}

.modal-welcome-header-text {
  font-weight: 200;
  font-size: 1.6vw;
  color: white;
  margin-left: 10px;
}

.modal-welcome-body {
  background-image: linear-gradient(to top, $figma-peach, $figma-grapefruit, $figma-red );
  height: 100%;
  width: 100%;
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-welcome-sub-heading {
  text-align: center;
  color:white;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  padding-top: 15px;
}

.gutter {
  height: 80%;
}

.modal-welcome-section {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-radius: 5px;
  background-image: linear-gradient(to top, $figma-peach, $figma-grapefruit, $figma-red );
}

.modal-splash {
  height: 80%;
}

.modal-body-header {
  font-size: 1.8vw;
  color: white;
  font-weight: 400;
  margin-top: 5%;
}


.deliv-type-container {
  display: flex;
  width: 50%;
  padding: 15px 0px 5px 0px;
  flex-direction: row;
  justify-content: space-between;
}

.modal-body-text {
  font-size: 1.5vw;
  color: white;
  font-weight: 200;
  padding-bottom: 10px;
}

.modal-body-sub-header {
  font-size: 18px;
}

.modal-child-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px; 
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  border-radius: 3px;
  padding: 20px;
  animation: modal-height .4s;
}

@keyframes modal-height {
  0% {
    top: 40%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.modal-child-taketask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto; 
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  border-radius: 3px;
  padding: 20px;
  animation: modal-height .4s;
} 

.modal-child-taskform {
  position: absolute;
  display: flex;
  align-items: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  // height: 600px; 
  background-image: linear-gradient(to bottom left, #343A40, $figma-grapefruit );
  color: black;
  border-radius: 4px;
  padding: 20px;
  animation: modal-height .4s;
}

.modal-child-confirm-delivery {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto; 
  background-color: $light-gray-bg;
  border-radius: 3px;
  padding-bottom: 40px;
  overflow: hidden;
}

@keyframes modal-height {
  0% {
    top: 40%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.delivery-header-container{
  background-image: linear-gradient(to top right, $figma-red, $figma-grapefruit, $figma-peach );
  height:  auto;
  width: 100%;
}

.delivery-header-container-pending{
  background-image: linear-gradient(to top right, $figma-peach, $figma-green);
  height:  auto;
  width: 100%;
}


.button-container > button:hover {
  filter: brightness(100%);
}

.delivery-header {
  color: white;
  font-size: 35px;
  padding: 15px 15px 15px 15px
}

.delivery-details-container {
  padding: 10px 35px 40px 35px
}

.delivery-details-type{
  color: $figma-red;
  font-size: 19px;
  padding-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.delivery-details-text{
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.delivery-details-confirmation {
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.claim-button {
  background-color: $figma-grapefruit;
  color: white;
  filter: brightness(90%);
  width: 40%;
  height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
}

.claim-button-done {
  background-color: $figma-green;
  color: white;
  filter: brightness(90%);
  width: 450px;
  height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
}

.cancel-button {
  background-color: $second-gray-txt;
  color: white;
  filter: brightness(90%);
  width: 40%;
  height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
}

.delivery-confirm-body {
  padding: 20px 20px;
  font-size: 23px;
  font-weight: 200;
}

.welcome-section-1 {
  width: 50%;
  z-index: 2;
}

.welcome-section-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  z-index: 1;
}

.welcome-deliv-type {
  height: 30px;
}

.sample-card {
  // width: 60%;
  height: 19%;
  border-radius: 5px;
  margin-top: 8px;
}

.continue-button {
  background-color: $figma-green;
  border: none;
  color: white;
  filter: brightness(95%);
  width: 20%;
  height: 8%;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 500;
  position: absolute;
  bottom: 15%;
  left: 15%;
  animation-name: card-fade-in;
  animation-duration: 1s;
}

.continue-button:focus {
  outline: none;
}

.continue-button:hover {
  filter: brightness(100%);
  box-shadow: 2px 2px 8px 2px #4c515973;

}

@media only screen and (max-device-width: 420px) { 
  .modal-child-welcome {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 80%;
    height: 65%; 
    // background-image: linear-gradient(to bottom right, $figma-red, $figma-grapefruit, $figma-peach );
    background: rgba(51,58,64,0.8);
    border-radius: 10px;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
    animation: modal-height 1s;
  }
  
  .welcome-logo {
    height: 40%;
    padding: 0px;
    margin-bottom: 5px;
  }
  
  .modal-welcome-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-welcome-heading {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
  }

  .modal-welcome-header-text {
    font-weight: 200;
    font-size: 16px;
    color: white;
  }
  
  .modal-welcome-body {
    background-image: linear-gradient(to top, $figma-peach, $figma-grapefruit, $figma-red );
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    // justify-content: space-around;
  }
  
  .modal-welcome-sub-heading {
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
  }
  
  .modal-welcome-section {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    border-radius: 5px;
    background-image: linear-gradient(to top, $figma-peach, $figma-grapefruit, $figma-red );
  }

  .modal-body-header {
    font-size: 5vw;
    margin-top: 5px;
    color: white;
    font-weight: 400;
  }

  .break {
    display: none;
  }


  .modal-body-text {
    font-size: 3vw;
    color: white;
    font-weight: 200;
    padding-bottom: 10px;
  }

  .modal-splash {
    height: 50%;
    
    // display:none;
  }

  .welcome-section-1 {
    width: 100%;
    height: 20%;
    z-index: 2;
  }
  
  .welcome-section-2 {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    align-items: center;
    z-index: 1;
    margin-bottom: 20px;
  }

  .continue-button {
    background-color: $figma-green;
    border: none;
    color: white;
    filter: brightness(95%);
    width: 70%;
    // height: 8%;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 5%;
    animation-name: card-fade-in;
    animation-duration: 1s;
    box-shadow: 2px 2px 8px 2px #4c515973;
  }

  
  .continue-button:active{
    filter: brightness(100%);
  }

  .sample-card {
    display: none;
  }
  
  
}