
@import './theme.scss';

.sidebar-container{
   height: calc(100vh);
   width: 500px;
}


.sidebar-inner-container {
   display: flex;
   flex-direction: column;
   
}

.sidebar-container-header {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}