@import './theme.scss';

.task-form-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.task-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: -20px;
}

.task-form-title {
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

.task-form-label {
    letter-spacing: 0.5px;
    font-weight: 500;
}

.task-form-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: -5px;
}

.task-form-input-long {
    height: 80px;
}

.task-form-submit {
    font-weight: 600;
    background-color: $figma-green;
    border: none;
}

.task-form-submit:hover {
    background-color: rgb(115, 139, 111);
}

.list-item {
    list-style: none;
}