@import './theme.scss';

.task-form-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    
}

.modal-child-taskform, .task-form-container{
  height: auto;
}

.task-form-title {
    font-size: 30px;
    margin: 10px 0px 15px 0px;
}

.task-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin-top: -20px;
}

.task-form-group {
    margin-bottom: 25px;
}

.task-form-label {
    letter-spacing: 0.5px;
    font-weight: 500;
}

.task-type-group {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.task-form-type {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px -15px 0px;
}

.radio-img {
    border-radius: 4px;
    background-color: white;
}

.task-type-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-type-label {
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.8px;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio] + img:hover {
    box-shadow: 0 0 0 4px rgb(185, 185, 185);
}

[type=radio]:checked + img {
    box-shadow: 0 0 0 4px $figma-red;
}

.radio-img {
    width: 100px;
}

.google-places-autocomplete__input {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.task-form-input-long {
    height: 80px;
}

.task-form-submit {
    background-color: $figma-green;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    filter: brightness(95%);
    width: 100%;
    height: 45px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

.task-form-submit:hover, .task-form-submit:focus, .task-form-submit:active{
    // background-color: rgb(115, 139, 111);
    background-color: $figma-green;
    filter: brightness(100%);
    box-shadow: 1.5px 1.5px 8px 2px #6e6e6e73;
    outline: none;
}

.errors-list {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}

.suggestion-container {
    position: absolute;
    background-color: white;
    color: rgb(126, 126, 126);
    padding: 3px 15px 3px 10px;
    border-radius: 3px;
    width: auto;
}

.suggestion {
    border-bottom: 1px solid rgba(145, 145, 145, 0.411);
}

.suggestion:hover {
    color: black;
    cursor: pointer;
}

.task-form-loader {
    position: absolute;
    font-weight: 500;
}

@media only screen and (max-device-width: 600px) { 

    .task-form-container {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
    }

    .modal-child-taskform {
        height: auto;
        width: 100%;
    } 

    .task-form-container{
        height: auto;
        width: 100vw;
    }

    .task-form-title {
        font-size: 30px;
        margin: 10px 0px 15px 0px;
    }

    .task-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        // margin-top: -20px;
    }

    .task-form-group {
        margin-bottom: 25px;
    }

    .task-form-label {
        letter-spacing: 0.5px;
        font-weight: 500;
    }

    .task-type-group {
        display: flex;
        justify-content: space-between;
        justify-content: center;
    }
    .task-form-type {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 5px 0px -15px 0px;
    }

    .radio-img {
        border-radius: 4px;
        background-color: white;
    }

    .task-type-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .task-type-label {
        margin-top: 5px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.8px;
    }

    [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    }

    [type=radio] + img {
    cursor: pointer;
    }

    [type=radio] + img:hover {
        box-shadow: 0 0 0 4px rgb(185, 185, 185);
    }

    [type=radio]:checked + img {
        box-shadow: 0 0 0 4px $figma-red;
    }

    .radio-img {
        width: 100px;
    }

    .google-places-autocomplete__input {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .task-form-input-long {
        height: 80px;
    }

    .task-form-submit {
        background-color: $figma-green;
        border: none;
        color: white;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.5px;
        filter: brightness(95%);
        width: 100%;
        height: 45px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .task-form-submit:hover, .task-form-submit:focus, .task-form-submit:active{
        // background-color: rgb(115, 139, 111);
        background-color: $figma-green;
        filter: brightness(100%);
        box-shadow: 1.5px 1.5px 8px 2px #6e6e6e73;
        outline: none;
    }

    .errors-list {
        list-style: none;
        padding: 0px;
        margin: 0px 0px 20px 0px;
    }

    .suggestion-container {
        position: absolute;
        background-color: white;
        color: rgb(126, 126, 126);
        padding: 3px 15px 3px 10px;
        border-radius: 3px;
        width: auto;
    }

    .suggestion {
        border-bottom: 1px solid rgba(145, 145, 145, 0.411);
    }

    .suggestion:hover {
        color: black;
        cursor: pointer;
    }

    .task-form-loader {
        position: absolute;
        font-weight: 500;
    }
}